@charset "UTF-8";

/* cricket-scoring */
@font-face {
  font-family: "cricket-scoring";
  src:url("https://file.myfontastic.com/rwRvBDiiXYr3D5me7nhQDV/fonts/1488978693.eot");
  src:url("https://file.myfontastic.com/rwRvBDiiXYr3D5me7nhQDV/fonts/1488978693.eot?#iefix") format("embedded-opentype"),
    url("https://file.myfontastic.com/rwRvBDiiXYr3D5me7nhQDV/fonts/1488978693.woff") format("woff"),
    url("https://file.myfontastic.com/rwRvBDiiXYr3D5me7nhQDV/fonts/1488978693.ttf") format("truetype"),
    url("https://file.myfontastic.com/rwRvBDiiXYr3D5me7nhQDV/fonts/1488978693.svg#1488978693") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "cricket-scoring" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "cricket-scoring" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-envelope:before {
  content: "\63";
}
.icon-dashboard:before {
  content: "\64";
}
.icon-students-cap:before {
  content: "\66";
}
.icon-group:before {
  content: "\65";
}
.icon-baseball-cap:before {
  content: "\61";
}
.icon-battsman-miss:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\67";
}
