@media only screen and (max-width:1199px) { 
	.box.table_box{width: 100%;}
	.player_info .profile_pic img {height: 100px;width: 100px;}
	.player_info .player_name{padding-left: 0;padding-top: 10px;}
	.player_info .player_name h3{padding-top: 5px;}
	.player_info .player_personal_info{padding-left: 0;}
	.player_info .player_personal_info ul li{line-height: 22px;}
	.player_info .player_personal_info ul li label{font-size: 15px;}
	.inning_tab .score_detail{max-width: 220px;}
	.inning_tab .nav-tabs > li a{padding: 30px 20px;}
	.inning_tab .score_detail span{text-overflow: ellipsis;white-space: nowrap;padding-left: 0;}
}
@media only screen and (max-width:991px){ 
	.content-header > .breadcrumb{right: 0;padding: 7px 0;}
	.player_info .col-md-4:first-child{border: none;}
	.player_info{margin-bottom: 20px;}
	.player_info .player_name{padding-left: 20px;}
    .player_info .player_personal_info{padding-top: 10px;}
    .default-form{margin:0 0 15px;}
    .form-group .select-wrapper{padding:0;margin-bottom:15px;}
    .navbar-custom-menu > .navbar-nav > li > .dropdown-menu{right: 25px;width: 188px;}
    .inning_tab .nav-tabs > li a{text-align: center;}
    .inning_tab .team_img{display: block;}
    .inning_tab .score_detail{padding: 0;}
    .inning_tab .score_detail span{display: block;font-size: 14px;}
    .inning_tab .nav-tabs > li a {padding: 20px 20px;}
}   

@media only screen and (max-width:767px){  
	.content-wrapper .content-header{padding: 15px;}
	.content-header > .breadcrumb{top: 5px;padding: 0 !important;}
	.content-wrapper .content{padding: 15px;}
	.box-header{padding: 0;}
	.main-header > .navbar{padding-right: 0;}
	.main-header .sidebar-toggle{padding: 15px;}
	.full_table .stats_btn{float: none;margin: 20px auto;text-align: center;}
	.full_table .stats_btn a {display: inline-block;}
	.login_inner{padding: 20px;}
	.login_inner .logo{margin-top: 0;}
	.login_inner .logo img{width: 150px;}
	.login_form{width: 100%;margin: 25px auto;padding: 20px;}
	.login_form height:1px {font size : 22px ;padding bottom : 10px;}
	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu{right: 14px;}
}

@media only screen and (max-width:639px){  
	.custom_table table th{font-size: 12px;}
	table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after{
		font-size: 10px !important;}
	.box-header .box-title{font-size: 16px;}
	.player_info{padding: 20px 5px;}
	.match_detail .team_name h2{margin-bottom: 10px;}
	.match_detail .score_detail .score h3{font-size: 26px;}
	.match_detail .score_detail{padding: 15px 0;}
	.match_detail .score_detail .score span{font-size: 14px;}
	.small-box{margin-bottom: 20px;}
	.signup_form .file-upload__label{width: 80px;height: 80px;}
	.signup_form .file-upload__label::after{font-size: 30px;left: 24px;}
	.login_form h1{font-size: 22px;}	
}
@media only screen and (max-width:479px){ 
	.content-header > h1{font-size: 20px;}
	.small-box > .small-box-footer{font-size: 14px;}
	.player_info .profile_pic img{width: 80px;height: 80px;}
	.player_info .player_name h2{font-size: 18px;}
	.player_info .player_name{padding-top: 0;}
	.player_info .player_name h3{font-size: 14px;}
	.player_info .player_personal_info ul li label{font-weight: 500;}
	.player_info .player_personal_info ul li label{font-size: 14px;}
	.player_info .player_personal_info ul li label span{font-size: 13px;}
	.player_info .player_personal_info ul li{line-height: 20px;}
	.match_detail{padding: 15px;}
	.match_detail .team_name h2{font-size: 16px;}
	.match_detail .score_detail .score h3{font-size: 22px;}
	.match_detail .score_detail .score span{font-size: 13px;}
	.match_detail .score_detail{padding: 10px;}
	.full_table .stats_btn a{font-size: 14px;}
	.login_form .btn{font-size: 16px;}
	.signup_form .w50{width: 100%;}
	.login_form input[type="text"], .login_form input[type="email"], .login_form input[type="password"], .signup_form .form-group select{height: 38px;}
	.login_form .form-group{margin-bottom: 8px;}
	.signup_form .form-group .select_box::after{top: 35px;}
	.signup_form .file-upload p{font-size: 14px;}  
	.inning_tab .nav-tabs > li{width: 100%;}
	.inning_tab .nav-tabs > li a {padding: 15px;}
	.inning_tab .team_img {display: inline-block;}
	.inning_tab .score_detail {display: inline-block;padding-left: 10px;text-align: left;}
	.inning_tab .score_detail h2{font-size: 16px;}
	.inning_tab .score_detail h3{font-size: 18px;}
   	.inning_tab .nav-tabs  li a{float: left;}
}  
@media only screen and (max-width:359px){
	.login_form p a {display: block;}
	.login_form label, .login_form .f_pass{font-size: 14px;}
	.login_form h1{font-size: 18px;}
	.signup_form .file-upload__label{width: 70px;height: 70px;}
	.signup_form .file-upload__label::after{font-size: 25px;left: 22px;}  
	.navbar-custom-menu > .navbar-nav > li > .dropdown-menu{width: 91%;}  
}
