
*{-webkit-border-radius:0;border-radius: 0px;padding:0;margin:0;}
body{
	font-weight:400;
	color: #000;
	background: #f3f3f3;
	font-family: 'roboto';
}
*:hover{
	transition: all ease 0.5 !important;
	-webkit-transition: all ease 0.5s !important;
	-moz-transition: all ease 0.5s !important;
}
*:focus{
	outline: none !important;
	box-shadow: none !important;
}

a:hover{
	text-decoration: none;
}
ul{padding:0;margin: 0;}
ul li{list-style: none;}

h1,h2,h3,h4,h5,h6{margin: 0;}

.radio .cr, .checkbox .cr{border-color: #000 !important;}

select::-ms-expand {
    display: none;
}

/***** Theme color css end *****/
.primary_bg_color, .small-box-footer:hover, .custom_table table th, .checkbox label input[type="checkbox"]:checked + .cr.primary_bg_color,.radio label input[type="radio"]:checked + .cr.primary_bg_color, .stats_btn a, body.login, .inning_tab .nav-tabs > li.active{background: #a3c939 !important;}
.secoundry_bg_color, .paginate_button.active a, .sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span, .default-form button:hover, .stats_btn a:hover, .login_form .btn, .file-upload__label{background: #000 !important;}
.third_bg_color, .custom_table .table, .content-header, .player_info, .team_img, .login_form .btn:hover, .inning_tab .nav.nav-tabs, .default-form .bootstrap-select .btn{background: #fff !important;}

.primary_light_bg_color:hover, .primary_light_bg_color:focus{background: rgba(0,0,0,0.05) !important;}

.primary_txt_color, .sidebar-menu li:hover i, .sidebar-menu li.active i, .login_form .btn:hover{color: #a3c939 !important;}
.secoundry_txt_color, .box-header .box-title, .stats_btn a, .login_form .f_pass:hover, .login_form p a:hover, .user-menu .dropdown-menu li a, .inning_tab .nav-tabs > li a, .inning_tab .nav-tabs > li.active > a, .inning_tab .nav-tabs > li.active > a:focus, .inning_tab .nav-tabs > li.active > a:hover, .default-form .bootstrap-select .btn:hover, .default-form .bootstrap-select .btn, .default-form .bootstrap-select .dropdown-menu > li > a{color: #000 !important;}
.third_txt_color, .main-header .sidebar-toggle, .sidebar-menu li a, .sidebar-form input, .sidebar-form .input-group-btn .btn, .default-form button:hover, .stats_btn:hover a, .login_form .f_pass, .login_form .btn, .login_form p a{color: #fff !important;}

.primary_act_bg_color, .default-form .bootstrap-select .dropdown-menu > li > a:hover{background: rgba(0,0,0,0.1);}
.secoundry_act_bg_color{background: rgba(255,255,255,0.1);}
.third_txt_act_bg_color{color: #fff;} 

.primary_border,.checkbox label input[type="checkbox"]:checked + .cr.primary_bg_color,.radio label input[type="radio"]:checked + .cr,.default-form .form-control:focus, .default-form .bootstrap-select .btn:focus
{border-color: #a3c939 !important;}
.secondary_border, .custom_table .table-bordered, .custom_table .table th, .custom_table .table td, .player_info .col-md-4{border-color: rgba(0,0,0,0.1) !important;}
.third_border, .login_form{border-color: rgba(255,255,255,255) !important;}

/***** Theme color css end *****/


/**** Dashboard css start *****/
.main-header .sidebar-toggle{
	padding: 15px 25px;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu{
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2) !important;
  border-radius: 0;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu li:last-child a{
	border: none !important;
}
.content-header > h1{
	font-size: 22px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover,.nav > li > a:hover, .nav > li > a:active, .nav > li > a:focus{
	background: rgba(0,0,0,0.1);
}
.notifications-menu i{
	font-size: 20px;
}
.navbar-nav .notifications-menu  a i{line-height: 15px;}
.sidebar-form .form-control{border:0;}
.sidebar-menu > li:hover > a,.sidebar-menu > li.active > a,.sidebar-menu > li > a{border-bottom:1px solid rgba(255,255,255,0.2);
padding: 12px 10px;font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;}
.sidebar-menu .active a{border: none !important;}
.sidebar-mini{height: 100vh !important}
.sidebar-menu  li i{margin-right:10px; font-size:20px;vertical-align:middle;display: inline-block;width: 25px;text-align: center;}
.sidebar-form{margin:15px 10px;}
.main-header .logo .logo-lg{text-transform:uppercase;}
.main-header .logo b{font-size:25px;font-weight:500;}
.navbar-nav > .user-menu > .dropdown-menu{width:100%;}
.main-header .navbar .nav > li > a > .label{border-radius:100%;}
.logo-lg img,.logo-lg div{display:inline-block;vertical-align:middle;}
.main-header .logo{padding:0;font-size:16px;}
.main-header .logo img{margin:0 5px;vertical-align:middle;width:auto;}
.small-box{margin-bottom: 30px;}
.small-box p{margin-bottom:0;}
.small-box > .small-box-footer i{padding:3px 0;}
.match-score{text-align:center;}
.match-score .inner{padding:75.5px 0;}
.match-score .icon{position:static;}
.notifications-menu i{transform:rotate(15deg);}

.small-box:hover{color:#000;}

.sidebar-form input[type="text"]{
	background: rgba(255,255,255,0.1);
}
.main-sidebar .sidebar-form .input-group-btn .btn{
	background: rgba(255,255,255,0.1);
	margin: 0;
}

.notifications-menu a span{
	top: 8px !important;
}
.content-wrapper .content-header{
	padding: 15px 25px;
}
.content-header > .breadcrumb{
	right: 25px;
	background: none;
	top: 10px;
}
.content-header > .breadcrumb li{ 
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}
.content-header > .breadcrumb li a{
	font-size: 14px;
}
.breadcrumb > li + li::before{
	content: '\f105' !important;
	font-family: fontawesome;
	font-size: 14px;
	color: #777777;
}
.breadcrumb > .active{
	color: #777777;
}
.content-wrapper .content{
	padding: 25px;
}
.small-box > .small-box-footer:hover{
	color: #000;
}
/**** dashboard icon font *****/
.icon-battsman-miss {
    font-size: 120px;
}
.icon-group {
    font-size: 100px;
}
.icon-close-envelope {
    font-size: 80px;
}
.sidebar .icon-battsman-miss {
  font-size: 28px;
  line-height: 0 !important;
  vertical-align: middle;
}
.sidebar .icon-close-envelope {
  font-size: 18px;
}
.sidebar .icon-group {
  font-size: 28px;
  line-height: 0;
}
/**** dashboard icon font *****/

.match-score .inner {
    padding: 60px 0;
}

/**** Dashboard css end *****/



/**** Form Element page css Start *****/
.box-header{padding:0 0 10px;}
.default-form label{font-family: 'roboto';font-size:16px;font-weight:400;}
.default-form .form-control{height:45px;border-radius: 5px !important;}
.default-form .box-footer{background:none;padding:0;}
.default-form button{text-transform:uppercase;font-size:16px;letter-spacing:2px;font-family: 'roboto';width:130px;}
.default-form .form-group{width:100%;float:left;}
.default-form .form-group select{height:45px;width:100%;-webkit-appearance:none;-moz-appearance:none;}
.default-form .form-group .select-wrapper{position: relative;width: 48%;float: left;}
.default-form .form-group .select-wrapper:after{content:'\f107'; font-family: FontAwesome; display: inline-block;
    position: absolute;
    right: 15px;
    top: 40px;
	font-size: 18px;
}
.default-form textArea.form-control{height:auto;}
.form-group .select-wrapper:last-child{padding-right:0;float: right;}
.default-form .form-group .col-md-6{padding-left:0;}
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}
.default-form .checkbox,.default-form .radio{display:inline-block;margin:0 15px 0 0;}
.default-form .checkbox label,.default-form .radio label{font-size:14px;line-height:14px;padding-left:0;}
.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    width: 12px;
    height:12px; 
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon{
	left: 0;
	position: absolute;
	top: 30%;
	line-height: 0;
}
.checkbox .fa-check::before{font-size: 9px;}
.radio .cr .cr-icon {
    position: absolute;
    font-size: .5em;
    line-height: 0;
    top: 50%;
    left: 18% !important;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
   
}
.cr.primary_bg_color{background:none !important;}
.default-form .bootstrap-select {
	width: 100% !important;
	position: relative;
}
.default-form .bootstrap-select .btn{
	height: 45px;
	border-radius: 5px;
	font-size: 14px;
	text-transform: capitalize;
}
.default-form .bootstrap-select .dropdown-toggle{
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}
.default-form .bootstrap-select .dropdown-menu{
	padding: 0;
}
.default-form .bootstrap-select .dropdown-menu > li > a{
	padding: 8px 10px;
}
.default-form .bootstrap-select .dropdown-toggle:after{
	content:'\f107'; 
	font-family: FontAwesome; 
	display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
	font-size: 18px;
	z-index: 1;
}
.default-form .bootstrap-select .bs-caret{
	display: none;
}
.default-form .bootstrap-select .dropdown-toggle:focus{
	outline: none !important; 
}
.default-form .bootstrap-select .dropdown-toggle{
	border-color: #d2d6de;
}
.default-form .bootstrap-select .dropdown-toggle:hover{
	border-color: #d2d6de;
}
/**** Form Element page css End *****/


/**** Profile page css start *****/

.box{
	border-radius: 0;
	border: none;
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.box-header{
	padding: 10px 0;
}
.box-header .box-title{
	font-size: 18px;
	font-weight: 400; 
	vertical-align: middle;
	line-height: 35px;
}
.box-body{
	padding: 0;
}

.custom_table table th{
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'roboto';
	border-bottom: none !important;
	padding: 12px !important;
	text-align: center;
}
.custom_table table td{
	font-size: 14px;
	font-weight: 400;
	font-family: 'roboto';
	text-transform: capitalize;
	text-align: center;
	border-top: 0 !important;
}
.year_select{
	display: inline;
	float: right;
	position: relative;
}
.year_select select{
	border: 1px solid rgba(0,0,0,0.1);
	-moz-appearance: none;	
	-webkit-appearance: none;	
	padding: 0px 12px; 
	height: 38px;
	min-width: 72px;
}
.year_select:after{
	content:'\f107'; 
	font-family: FontAwesome; 
	display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
	font-size: 18px;
}
.year_select select option{
	padding: 8px 12px;
}

.paginate_button.active a{
	border: 1px solid;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span{
	border-radius: 0 !important;
	line-height: 28px;
}
table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after {
   font-size: 12px !important;
  right: 5px !important;
  top: 13px !important;
}
.box.table_box{
	width: 50%;
	padding: 0 15px;
	float: left;
}
#example1_length.dataTables_length, #example1_filter.dataTables_filter{
	display: none !important;
}
.player_info{
	padding: 30px 15px;
	display: inline-block;
	width: 100%;
  	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  	margin-bottom: 30px;
}
.player_info .col-md-4{
	border-right: 1px solid;
}
.player_info .col-md-4:last-child{
	border: none;
}
.player_info .profile_pic{
	display: inline-block;
}
.player_info .profile_pic img{
	width: 130px;
	height: 130px;
}
.player_info .player_name{
	display: inline-block;
	padding-left: 20px;
	vertical-align: middle;
}
.player_info .player_name h2{
	display: block;
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 1px;
	font-family: 'roboto';
}
.player_info .player_name h3{
	display: block;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	opacity: 0.5;
	padding-top: 10px;
}
.player_info .player_personal_info{
	padding-left: 10px;
}
.player_info .player_personal_info ul li{
	line-height: 28px;
}
.player_info .player_personal_info ul li label{
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
}
.player_info .player_personal_info ul li label span{
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
}
/**** Profile page css end *****/

/**** Live match css start *****/
.match_detail{
	padding: 20px;
}
.team_img {  
  border-radius: 50%;
  display: block;
  height: 80px;
  line-height: 80px;
  overflow: hidden;
  text-align: center;
  width: 80px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.08);
  margin: 0px auto;
}
.team_img > img{
	max-width: 100%;
}
.match_detail  .team_name h2{
	font-size: 18px;
	font-weight: 400;
	text-align: center;
	text-transform: capitalize;
	font-family: 'roboto';
	margin-bottom: 15px;
}
.match_detail .score_detail{
	padding: 20px 0;
}
.match_detail .score_detail .score{
	text-align: center;
}
.match_detail .score_detail .score h3{
	display: inline;
	font-size: 30px;
	font-family: 'roboto';
	vertical-align: middle;
}
.match_detail .score_detail .score span{
	display: inline;
	font-size: 16px;
	text-transform: uppercase;
	vertical-align: middle;
	padding-left: 10px;
}
/**** Live match css end *****/

/**** Batting stats css start *****/
.full_table{
	padding: 0 15px;
}
.full_table table td:nth-child(2), .full_table table th:nth-child(2){
	text-align: left;
}
table td:nth-child(2) span{
	font-size: 12px;
	padding-left: 10px;
}
.stats_btn{
	float: right;
	margin-top: 20px;
	max-width: 225px;
}
.stats_btn a{
	border-radius: 20px;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 30px;
	text-transform: uppercase; 
	display: block;
}
/**** Batting stats css end *****/

/**** Login css start *****/
.login_box {
	display: table;
	height: 100vh;
	width: 100%; 
}
.login_inner .logo {
 	text-align: center;
 	margin-top: 30px;
 }
.login_inner {
	display: table-cell;
	vertical-align: middle;
 }
.login_inner .logo img{
 	max-width: 100%;
 }
.login_form{
 	width: 515px;
 	border: 1px solid;
 	margin: 0 auto;
 	border-radius: 10px;
 	padding: 30px;
 	margin: 35px auto;
 }
.login_form h1{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 20px;
	text-align: center;
}
.login_form label{
	font-size: 16px;
	font-weight: 400;
}
.login_form input[type='text'], .login_form input[type='email'], .login_form input[type='password']{
	width: 100%;
	border-radius: 5px !important;
	height: 45px;
	border: none !important;
}
.login_form .f_pass{
	font-size: 16px;
	float: right;
	text-transform: capitalize;
}
.login_form .btn{
	border-radius: 50px;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 12px; 
	width: 100%;
	font-weight: 400;
	border: none;
	margin: 15px 0;
	max-width: 390px
}
.login_form p{
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: center;
	margin: 0;
}
.login_form .submit_btn{
 	text-align: center;
 }
 /**** Login css end *****/

/**** Signup css start *****/
.signup_form{
	width: 710px;
}
.signup_form .form-group select{
	height:45px;
	width:100% !important;
	-webkit-appearance:none;
	-moz-appearance:none;
	border: none;
}
.signup_form .form-group{
	float: left;
	width: 100%;
}
.signup_form .form-group .select_box{
	position: relative;
	width: 100%;
	float: left;
}
.signup_form .form-group .select_box:after{
	content:'\f107'; 
	font-family: FontAwesome; 
	display: inline-block;
    position: absolute;
    right: 15px;
    top: 40px;
	font-size: 18px;
}
.signup_form .w50{
	width: 48%;
}
.signup_form .radio_grp label{
	font-weight: 500;
	letter-spacing: 1px;
}

.signup_form .file-upload {
  position: relative;
  display: inline-block;
  width: 100%;
}

.signup_form .file-upload__label {
  display: block;   
  border-radius: .4em;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative; 
}
.signup_form .file-upload__label:after{
	content: '\f030';
	position: absolute;
	font-family: 'fontawesome';
	font-size: 35px; 
	top: 18px;
	left: 25px;
	color: #7e8178;
}
.signup_form .file-upload__label:hover {
  cursor: pointer;
  opacity: 0.9;
}

.signup_form .file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 1;
  width: 0;
  height: 100%;
  opacity: 0;
}
.signup_form .file-upload p{
	font-size: 16px;
	text-transform: capitalize;
	padding: 5px 0;
	text-align: center;
}
/**** Signup css end *****/

/**** Innings Page css start *****/
.inning_tab{
	position: relative;
}
.inning_tab .nav-tabs > li{
	width: 50%;
}
.inning_tab .nav-tabs{
	border: none !important;
	margin-bottom: 25px;
}
.inning_tab .nav-tabs > li a{
	border: none !important;
	background: none !important;
	text-align: left;
	padding: 30px 40px;
}
.inning_tab .nav-tabs > li.active > a, .inning_tab .nav-tabs > li.active > a:focus, .inning_tab .nav-tabs > li.active > a:hover{
	border: none !important;
}
.inning_tab .team_img{
	display: inline-block;
	vertical-align: middle;
}
.inning_tab .score_detail{
	display: inline-block;
	vertical-align: middle;
	padding-left: 15px;
}
.inning_tab .score_detail h2{
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	font-family: 'roboto';
}
.inning_tab .score_detail h3{
	font-size: 25px;
	font-weight: 900;
	display: inline;
	font-family: 'roboto';
}
.inning_tab .score_detail span{
	font-size: 16px;
	text-transform: uppercase;
	display: inline;
	padding-left: 10px;
}
.inning_tab table td:nth-child(2), .inning_tab table th:nth-child(2){
	text-align: left;
} 
.inning_tab .stats_btn{
	float: none;
	margin: 10px auto;
}
.inning_tab .tab-content h4{
	text-align: left;
	font-size: 16px;
	padding-bottom: 15px;
	font-weight: 400;
	font-family: 'roboto';
}
.inning_tab .tab-content h4 span{
	font-weight: 700;
}

/**** Innings Page css end *****/


