<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- Bootstrap 3.3.4 -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    
        <!-- FontAwesome 4.3.0 -->
        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <!-- Ionicons 2.0.0 -->
        <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />   
        <link href="/css/icons.css" rel="stylesheet">
          
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/css/responsive.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 
         
		
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">
      
     <header class="main-header primary_bg_color">
          <!-- Logo -->
          <a href="index.html" class="logo primary_act_bg_color thired-color">
              <!-- mini logo for sidebar mini 50x50 pixels -->
              <span class="logo-mini"><img src="/img/cricket_icon.png"/></span>
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg"><img src="/img/logo.png"/></span>
          </a>
      </header>
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Main content -->
        <section class="content"> 
          <div class="row"> 
            <div class="box">
              <div style="padding-right:20px;">
                <a href="/user/storiesadd">Add Stories</a>
              </div>
            </div>
          </div>  
          <div class="row"> 
              <div class="box"> 
                <div class="box-body custom_table full_table">
                  <table id="example3" class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th>User's Name</th> 
                        <th>Story Content</th>
                        <th>Publish</th>
                        <th>Edit</th> 
                        <th>Delete</th> 
                        <th>Upvote</th> 
                      </tr>
                    </thead>
                    <tbody> 
                      {{range .payload}}
                      <tr>
                          <td>{{ .Attributes.UserName }}</td> 
                          <td>{{ .Stories }}</td>
                          <td>
                            {{ if eq .Userid  .Attributes.CurUser }}
                              <a href="#" class="clspublish" data-custom-value="{{ .DBId }}">Publish</a>
                            {{ else }}
                              &nbsp;
                            {{ end}}
                          </td>
                          <td>
                              {{ if eq .Userid  .Attributes.CurUser }}
                                <a href="#" class="clsedit" data-custom-value="{{ .DBId }}">Edit</a>
                              {{ else }}
                                &nbsp;
                              {{ end}}
                          </td> 
                          <td>
                              {{ if eq .Userid  .Attributes.CurUser }}
                                <a href="#" class="clsdelete" data-custom-value="{{ .DBId }}">Delete</a>
                              {{ else }}
                                &nbsp;
                              {{ end}}
                          </td> 
                          <td>
                              {{ if ne .Userid  .Attributes.CurUser }}
                                <a href="#" class="clsupvote" data-custom-value="{{ .DBId }}">Upvote</a>
                              {{ else }}
                                &nbsp;
                              {{ end}}  
                          </td> 
                        </tr>
                      {{ end }}
                    </tbody>
                    
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
          </div><!-- /.row --> 
        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->
      <div class='control-sidebar-bg'></div>
    </div><!-- ./wrapper -->

    <form name="frmstoryobj" id="frmstoryobj" method="post" action="/user/storiespublish" class="frmaddclient">
        <input type="hidden" name="actiontype" id="actiontype" value="" />
        <input type="hidden" name="userid" id="userid" value="{{ .currentLoginId }}" />
        <input type="hidden" name="rowid" id="rowid" value="0" />
    </form>

    <!-- jQuery 2.1.4 -->
    <script src="/js/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- DATA TABES SCRIPT -->
    <script src="/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <!-- AdminLTE App -->
    <script src="/js/app.min.js" type="text/javascript"></script>
    <script src="/js/client/js_storieslisting.js" type="text/javascript"></script> 
    <script type="text/javascript">
      $(function () {
        $("#example1").dataTable();
        $('#example2').dataTable({
          "bPaginate": true,
          "bLengthChange": false,
          "bFilter": false,
          "bSort": true,
          "bInfo": true,
          "bAutoWidth": false
          // "scrollX": true,
          //  "initComplete": function(settings, json) {
          //       $('.dataTables_scrollBody thead tr').css({visibility:'collapse'});
          //   }
        });
      });

    </script>
     

  </body>
</html>
